/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

/* Sección de presentación */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00bfa5; /* Color tipo neón */
}


.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

/* Secciones generales */
.section {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

#projects {
    background-color: #1e1e1e;
}

.project-card {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Formulario de contacto */
#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#contact-form button {
    padding: 10px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
