/* Diseño General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header */
.header {
    text-align: center;
    padding: 2em 1em;
}

a {
    color: #00BFA5; /* Color deseado */
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1em;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00bfa5; /* Color tipo neón */
}

/* Secciones */
.section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

.section h2 {
    font-size: 1.8em;
    color: #00bfa5;
    margin-bottom: 1em;
}

/* Proyectos */
.project {
    background-color: #1e1e1e;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 191, 165, 0.2);
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 191, 165, 0.5);
}

/* Formulario */
form label, form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

form button {
    padding: 10px;
    background-color: #00bfa5;
    color: #121212;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #00d7a7;
}
